#canvas {
  border: 1px solid black;
}

.shapeCanvas {
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.shape {
  fill-opacity: 0;
  stroke: green;
  stroke-width: 1;
  cursor: move;
}

.shape:hover {
  cursor: move;
}
.cursor :hover {
  cursor: crosshair;
}

.border {
  border: 2px solid green !important;
  width: auto;
  height: 600px;
}

.hover {
  cursor: pointer;
}
