#canvas {
  border: 1px solid black;
}

.shapeCanvas {
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.shape {
  fill-opacity: 0;
  stroke: black;
  stroke-width: 1;
}
