#canvas {
  border: 1px solid black;
}

.shapeCanvas {
  height: 400px;
  width: 500px;
  border: solid;
  border-color: lightgrey;
  background-image: url("/assets/images/98_original.png");
}

.shape {
  fill-opacity: 0;
  stroke: black;
  stroke-width: 1;
}
