<div class="container">
    <div class="row mt-4">
        <div class="col-6">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="queDibujar"
                        id="exampleRadios1" value="Roi" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Roi
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="queDibujar"
                        id="exampleRadios2" value="Line">
                    <label class="form-check-label" for="exampleRadios2">
                        Line
                    </label>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 ">
            <canvas #canvas (click)="click($event)"></canvas>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-7">
            <ngb-alert *ngIf="alert" [dismissible]="true">
                <strong>La direccion debe intersectar a la linea</strong>
            </ngb-alert>
        </div>
    </div>
</div>

<ng-template #Loading>
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>